<div id="banner" class="d-flex justify-content-center align-items-lg-center mt-5">
	<div id="banner-desc" class="text-center">
		<p class="banner-title">Выбери GALAXY A</p>
		<p class="small-title-bold font-weight-bold">Получи вкусный подарок с доставкой на дом!</p>
		<p class="font-one">
			Купи смартфон серий <span class="font-700">Galaxy A.</span><br>
			Получи промокод на <span class="font-700">5000</span> или <span class="font-700">7000 тенге</span> в приложений <span class="font-700">Glovo</span><br>
			Период акции: с <span class="font-700">20 апреля</span> по <span class="font-700">26 апреля 2020 года</span>
		</p>
		<div class="reg-footer">
			<button class="btn btn-round btn-outline-dark px-5 py-2 text-uppercase">Регистрация</button>
			<button class="btn btn-about text-uppercase">Узнать Больше</button>
		</div>
	</div>
</div>