<div class="models d-flex flex-column align-items-center">
	<div class="regulation-title mb-5">Модели смартфонов,<br> участвующих в Акции</div>

	<div class="container models-table">
		<table class="table border font-one">
			<thead class="bg-grey text-black">
				<tr>
					<th class="text-right font-700 h4" scope="col">Модель</th>
					<th class="font-700 h4" scope="col">Сумма Промокода</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-right font-700 h5">Galaxy-A51</td>
					<td class="pl-5">5000 тенге</td>
				</tr>
				<tr>
					<td class="text-right font-700 h5">Galaxy-A70</td>
					<td class="pl-5" >7000 тенге</td>
				</tr>
				<tr>
					<td class="text-right font-700 h5">Galaxy-A71</td>
					<td class="pl-5">7000 тенге</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button class="btn btn-outline-dark btn-round py-2 px-5 text-uppercase my-5">Подробнее</button>
	<img class="model-img" src="assets/models">
</div>