<div class="partners d-flex flex-column align-items-center">
	<div class="regulation-title">В акции участвуют партнеры Samsung</div>
	<div class="partners-text font-one h4 mt-3">Выбери нужны магазин из списка в твоем городе</div>
</div>

<div class="container partner-logos my-5">
	<div class="row mt-5 mb-3 d-flex justify-content-around">
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
	</div>
	<div class="row d-flex justify-content-around">
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
		<a href="#" class="border px-3 py-1 btn-round"><img src="assets/mechta"></a>
	</div>
</div>