<div class="container text-center">
	<div class="regulation-title">Условия Акции</div>
	<div class="row d-flex justify-items-around">
		<div class="col-3">
			<div class="regulation-icons-item pt-5">
				<img src="assets/icon">
				<p class="text-break pt-1">Купи смартфон <span class="">А-серии</span> из списка ниже в магазинах официальных партнеров <span>Samsung</span></p>
			</div>
		</div>
		<div class="col dots">
			<p>.</p>
		</div>
		<div class="col-3">
			<div class="regulation-icons-item pt-5">
				<img src="assets/icon1">
				<p class="text-break pt-3">Зарегистрируй чек покупки на сайте, прекрепив фото</p>
			</div>
		</div>
		<div class="col dots">
			<p>.</p>
		</div>
		<div class="col-3">
			<div class="regulation-icons-item pt-5">
				<img src="assets/icon2">
				<p class="text-break pt-3">Зарегистрируй чек покупки на сайте, прекрепив фото</p>
			</div>
		</div>
	</div>
	<button class="btn btn-outline-dark btn-round py-2 px-5 text-uppercase my-3">Полные правила</button>
	<p class="regulation-locations h3 font-one pt-5">Доставка Glova доступна в трех городах: Нур-Султан, Алматы и Шымкент</p>
</div>