<div class="row bg-white d-flex align-items-center">
  <div class="col-5 d-flex justify-content-center text-uppercase px-5">
    <a class="nav-item mx-2 text-dark" >Мобильные Устройства</a>
    <a class="nav-item mx-2 text-dark" href="">ТВ и Аудио</a>
    <a class="nav-item mx-2 text-dark" href="">IT</a>
    <a class="nav-item mx-2 text-dark" href="">Для Дома</a>
  </div>
  <div class="col-2 text-center">
    <a class="nav-item mx-2 text-dark" href="" class="samsung-icon"><img class="samsung-icon" src="assets/samsung-logo.png"></a>
  </div>
  <div class="col-5 d-flex justify-content-center text-uppercase px-5">
    <a class="nav-item mx-2 text-dark" >Explore</a>
    <a class="nav-item mx-2 text-dark" href="">Акций</a>
    <a class="nav-item mx-2 text-dark" href="">Поддержка</a>
    <a class="nav-item mx-2 text-dark" href="">Бизнес</a>
  </div>
</div>
